@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Dark & Light Mode Variables */
:root {
  --font-default: "DM Sans", sans-serif;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary-blue: #003396;
  --border: 240 5.9% 90%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

.bg-primary-blue {
  background-color: var(--primary-blue);
}

/* Base styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom font classes */
.font-vietname {
  font-family: var(--font-be-vietnam), sans-serif;
  font-weight: 500;
}

.font-vietname-bold {
  font-family: var(--font-be-vietnam), sans-serif;
  font-weight: 700;
}

.font-vietname-thin {
  font-family: var(--font-be-vietnam), sans-serif;
  font-weight: 300;
}

.font-custom {
  font-family: "Tw Cen MT", sans-serif;
}

/* Utility class for colors */
.text-light-gray {
  color: #979797;
}
.text-purple {
  color: #6a4bff;
}
.text-dark-gray {
  color: #455a64;
}
.text-light-blue {
  color: #7ba5d4;
}
.text-dark-blue {
  color: #152c5b;
}
.text-blue {
  color: #2196f3;
}
.border-light-gray {
  border-color: #979797;
}

/* Utility classes */
@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }
  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }
  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* Font Sizes */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }
  .regular-32 {
    @apply text-[32px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .regular-20 {
    @apply text-[20px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }
  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }
  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }
  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }
  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }
  .bold-20 {
    @apply text-[20px] font-[700];
  }
  .bold-18 {
    @apply text-[18px] font-[700];
  }
  .bold-16 {
    @apply text-[16px] font-[700];
  }

  /* Hero Section */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  /* Hide scrollbar */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
